#mapType {
    bottom: auto; 
	right: 10px; 
	top: 10px; 
	left: auto; 
	white-space: nowrap; 
	cursor: pointer; 
	position: absolute; 
	text-size-adjust: none;
}

.mapType_position{
   float: left;
}

._checkbox {
    background: url(http://api0.map.bdimg.com/images/mapctrls1d3.gif);
    vertical-align: middle;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 4px;
    background-position: -14px 90px;
}

.mapType_normal {
    box-shadow: rgba(0, 0, 0, 0.34902) 2px 2px 3px; 
	border-left: 1px solid rgb(139, 164, 220); 
	border-top: 1px solid rgb(139, 164, 220); 
	border-bottom: 1px solid rgb(139, 164, 220); 
	background: rgb(255, 255, 255); 
	padding: 2px 6px; font-style: normal; 
	font-variant-ligatures: normal; 
	font-variant-caps: normal; 
	font-stretch: normal; 
	font-size: 12px; 
	line-height: 1.3em; 
	font-family: arial,sans-serif; 
	text-align: center; 
	white-space: nowrap; 
	color: rgb(0, 0, 0);
}

.mapType_active {
    box-shadow: rgba(0, 0, 0, 0.34902) 2px 2px 3px; 
	border-left: 1px solid rgb(139, 164, 220); 
	border-top: 1px solid rgb(139, 164, 220); 
	border-bottom: 1px solid rgb(139, 164, 220); 
	background: rgb(142, 168, 224); 
	padding: 2px 6px; 
	font-style: normal; 
	font-variant: normal; 
	font-stretch: normal; 
	font-size: 12px; 
	line-height: 1.3em; 
	font-family: arial, 
	sans-serif; 
	text-align: center; 
	white-space: nowrap; 
	border-radius: 3px 0px 0px 3px; 
	color: rgb(255, 255, 255); 
	font-weight: bold;
}


