
{% load staticfiles %}

<style>
    #preview-index {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#preview-index:hover {opacity: 0.7;}

/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content1 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content1, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close1 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close1:hover,
.close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content1 {
    width: 100%;
  }
}
</style>

<form id="editForm" role="form" action="{% url 'dmam:stationedit' object.id %}" class="form-horizontal" method="post">{% csrf_token %}
    <div class="modal-header">
        <button type="button" id="doXEdit" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">修改站点</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <input id = "userId"  type="text" hidden="true" name="id" value="{{ form.idstr.value }}" />
                <input id="sign" type="text" hidden="true" name="sign" value="" />

                <input id = "idstr"  type="text" hidden="true" name="idstr" value="{{ form.idstr.value }}" />
                <input id="uuid" type="text" hidden="true" name="uuid" value="{{ form.uuid.value }}" />

                <div class="form-group">
                    <label class="col-md-3 control-label"> 用户代码：</label>
                    <div class="col-md-7">
                        <input placeholder="请输入用户代码"
                            type="text" class="form-control" id="userid" name="userid"  value="{{ form.userid.value|default:''}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"><label class="text-danger">*</label> 站点名称：</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="username" name="username" value="{{ form.username.value|default:''}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"> 站点描述：</label>
                    <div class="col-md-7">
                        <input id="description" name="description"  class="form-control" value="{{ form.description.value|default:'' }}" />
                    </div>
                </div>
                
                <input id="groupIds" name="groupId" type="text" hidden="true" value="{{ object.belongto.cid }}" />
                <div class="form-group">
                    <label class="col-md-3 control-label"><label class="text-danger">*</label> 所属组织：</label>
                    <div class="has-feedback col-md-7">
                        <input name="belongto"
                            class="form-control" id="zTreeStationSelEdit" placeholder="请选择所属企业" readonly="readonly" style="background-color: #fafafa; cursor: pointer;"
                            type="text" value="{{ form.belongto.value|default:'' }}" />
                            <span id="zTreeCitySelSpan" class="fa fa-chevron-down form-control-feedback" aria-hidden="true"></span>
                        <div id="zTreeContentEdit" class="ztreeModelBox" style="top:36px!important">
                            <ul id="ztreeDemoEdit" class="ztree"></ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">用水性质：</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input name="usertype" type="text" class="form-control" id="usertype" value="{{ form.usertype.value|default:'' }}" readonly />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-white dropdown-toggle"
                                    data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <input id="metertypeEdit" name="metertype" type="text" hidden="true" value="{{ form.metertype.value }}"  />
                    <div class="col-md-7">
                        <label class="radio-inline"><input type="radio" name="meter_type" value="水表" /> 水表</label>
                        <label class="radio-inline"><input type="radio" name="meter_type" value="流量计" /> 流量计</label>
                    </div>
                </div> 

                

                <div class="form-group">
                    <label class="col-md-3 control-label"><label class="text-danger">*</label> 关联表具：</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input name="meter" type="text" class="form-control" id="relate_meter" value="{{ form.meter.value|default:'' }}" readonly>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-white dropdown-toggle"
                                    data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"> 表具编号：</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="serialnumber" name="serialnumber" value="{{ form.serialnumber.value|default:'' }}" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">SIM卡号：</label>
                    <div class="col-md-7">
                        <input  type="text" class="form-control" id="simid" name="simid" value="{{ form.simid.value|default:'' }}"  readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">口径：</label>
                    <div class="col-md-7">
                        <input type="text"  class="form-control" id="dn" name="dn" value="{{ form.dn.value|default:'' }}"  readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">安装日期：</label>
                    <div class="col-md-7">
                        <input style="cursor: pointer;  background-color: #fafafa;" class="form-control layer-date laydate-icon"
                                id="madedate" name="madedate" value="{{ form.madedate.value|default:''}} "/>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div style="border: 1px solid black;height: 375px;" id="map"></div>
                <div class="form-group" style="margin-top: 10px;">
                  
                    <label class = "col-sm-3 control-label">经度:</label>
                      
                    <div class = "col-sm-3">
                       <input type = "text" class = "form-control " id = "lng" name="lng" value="{{ form.lng.value|default:'' }}" />
                       
                    </div>
                 
                    <label class= "col-sm-3 control-label">纬度:</label>
                      
                    <div class = "col-sm-3">
                       <input type = "text" class = "form-control" id = "lat" name="lat" value="{{ form.lat.value|default:'' }}" />
                    </div>
                </div>
               

               <div class = "form-group">
                    <label class="col-sm-3 control-label" >位置信息:</label>
                    <input id="installationsite" name="installationsite" type="text" hidden="true" value="{{ form.installationsite.value }}"  />
                    <div class="has-feedback col-md-7">
                        <select class="form-control" id="locatesel" >
                            <option>室外地下</option>
                            <option>室外地上</option>
                            <option>室内</option>
                        </select>
                    </div>
                  
               </div>

            </div>


            <div class="col-md-12">
                <div class="col-md-2"><button type="button" class="btn btn-primary">载入现场图片</button></div>
                <div class="col-md-2" style="height: 120px;">
                    <div id="localImag-index1" style="border: 1px solid grey;height: 90px;">
                        <img id="preview-index1" class="img-click" src="/media/{{ form.image1.value }}" alt="现场图1" style="display: block;width: 240px;height: 80px;">
                    </div>

                    <div class="inpFilePhoto">
                        <input type="file" accept="image/png" name="image1" id="doc-index1" style="width:202px;height: 20px;" >
                        点击选择照片
                    </div>
                </div>
                <div class="col-md-2" style="height: 120px;">
                    <div id="localImag-index2" style="border: 1px solid grey;height: 90px;">
                        <img id="preview-index2" class="img-click" src="/media/{{ form.image2.value }}" alt="现场图2" style="display: block;width: 240px;height: 80px;">
                    </div>

                    <div class="inpFilePhoto">
                        <input type="file" accept="image/png" name="image2" id="doc-index2" style="width:202px;height: 20px;" >
                        点击选择照片
                    </div>
                </div>
                <div class="col-md-2" style="height: 120px;">
                    <div id="localImag-index3" style="border: 1px solid grey;height: 90px;">
                        <img id="preview-index3" class="img-click" src="/media/{{ form.image3.value }}" alt="现场图3" style="display: block;width: 240px;height: 80px;">
                    </div>

                    <div class="inpFilePhoto">
                        <input type="file" accept="image/png" name="image3" id="doc-index3" style="width:202px;height: 20px;" >
                        点击选择照片
                    </div>
                </div>
                <div class="col-md-2" style="height: 120px;">
                    <div id="localImag-index4" style="border: 1px solid grey;height: 90px;">
                        <img id="preview-index4" class="img-click" src="/media/{{ form.image4.value }}" alt="现场图4" style="display: block;width: 240px;height: 80px;">
                    </div>

                    <div class="inpFilePhoto">
                        <input type="file" accept="image/png" name="image4" id="doc-index4" style="width:202px;height: 20px;" >
                        点击选择照片
                    </div>
                </div>
                <div class="col-md-2" style="height: 120px;">
                    <div id="localImag-index5" style="border: 1px solid grey;height: 90px;">
                        <img id="preview-index5" class="img-click" src="/media/{{ form.image5.value }}" alt="现场图5" style="display: block;width: 240px;height: 80px;">
                    </div>

                    <div class="inpFilePhoto">
                        <input type="file" accept="image/png" name="image5" id="doc-index5" style="width:202px;height: 20px;" >
                        点击选择照片
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="focus" id="focusVal" value="{{ form.focus.value|default:'0' }}" />
        <input type="hidden" name="biguser" id="biguserVal"  value="{{ form.biguser.value|default:'0' }}" />
        <div class="form-group pull-left">
            <button type="button" id="focusBtn" class="btn btn-default" ><strong>重点关注</strong></button>

            <button type="button" id="biguserBtn" class="btn btn-default" ><strong>大用户</strong></button>
        </div>

        <button id="doSubmitEdit" class="btn btn-primary" type="button">
            <strong>提 交</strong>
        </button>
        <button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
</form>
<input value="{{ user.idstr }}" id="currentUserId" type="hidden" >

<!-- The Modal -->
<div id="myModal" class="modal1" >
    <span class="close1">&times;</span>
    <img class="modal-content1" id="img01">
    <div id="caption"></div>
  </div>



{% block javascript %}
<script>
    var userNameNull = "站点名称不能为空";
    var userNameError = "\u8BF7\u8F93\u5165\u5B57\u6BCD/\u6570\u5B57/\u4E0B\u5212\u7EBF/\u77ED\u6760\uFF0C\u5982\uFF1Alove\u3001\u5C0F\u9C7C\u30011234\u3001F3-808";
    var userNameMinLength = "\u9601\u4E0B\u81F3\u5C11\u8981\u8F93\u51654\u4F4D\uFF0C\u5982\uFF1Alove\u3001\u5C0F\u9C7C";
    var usernameExists = "\u8BE5\u7528\u6237\u540D\u5DF2\u88AB\u4F7F\u7528,\u8BF7\u91CD\u65B0\u6DFB\u52A0";
    var usernameAuthorizationDateNull = "\u6388\u6743\u622A\u6B62\u65E5\u671F\u4E0D\u80FD\u4E3A\u7A7A";
    var usernameAuthorizationToday = "\u6388\u6743\u622A\u6B62\u65E5\u671F\u5FC5\u987B\u5927\u4E8E/\u7B49\u4E8E\u4ECA\u5929";
    var passWordNull = "\u4E0D\u8981\u548C\u6211\u6BD4\u61D2\uFF0C\u4E0D\u8F93\u5165\u5BC6\u7801\uFF0C\u6211\u61D2\u5F97\u548C\u4F60\u6BD4";
    var passwordMinLength = "\u4E0D\u80FD\u5C11\u4E8E6\u4E2A\u5B57\u7B26\uFF0C\u5982\u679C\u5B9E\u5728\u4E0D\u591F\u957F\uFF0C\u53BB\u9762\u58C1\u601D\u8FC7\u5427\uFF0C\u591F\u957F\u4E86\u518D\u6765";
    var passwordCompareNull = "\u8F93\u5165\u5BC6\u7801\u7684\u59FF\u52BF\u72C2\u62FD\u5E05\u6C14\u540A\u70B8\u5929\uFF0C\u5DEE\u4E00\u70B9\u5C31\u4E24\u6B21\u5BC6\u7801\u90FD\u4E00\u81F4\u4E86";
    var emailError = "\u60A8\u7684\u90AE\u7BB1\u683C\u5F0F\u8F93\u5165\u9519\u8BEF\u5566";
    var phoneError = "\u770B\u8D77\u6765\u4E0D\u50CF\u624B\u673A\u53F7\u5462";
    var publicMinSize2Length="\u957F\u5EA6\u4E0D\u80FD\u5C0F\u4E8E2\u4F4D";
    var publicSelectGroupNull="\u8BF7\u9009\u62E9\u6240\u5C5E\u4F01\u4E1A";
    var publicMinSize6Length="\u957F\u5EA6\u4E0D\u80FD\u5C0F\u4E8E6\u4F4D";
    var publicSize25="\u957F\u5EA6\u4E0D\u8D85\u8FC725\u4F4D";
    var publicSize20="\u957F\u5EA6\u4E0D\u8D85\u8FC720\u4F4D";
    var publicSize60="\u957F\u5EA6\u4E0D\u8D85\u8FC760\u4F4D";
    var publicNull = "\u4E0D\u80FD\u4E3A\u7A7A";
    var publicEditSuccess = "\u4FEE\u6539\u6210\u529F";
    var publicEditError = "\u4FEE\u6539\u5931\u8D25";
    var userGroupSelectNull = "\u8BF7\u9009\u62E9\u7EC4\u7EC7";

    var locate = "{{ form.installationsite.value }}";
    var userid = "{{ form.userid.value }}";
    var username = "{{ form.username.value }}";
    var description = "{{ form.description.value }}";
    
    var usertype = "{{ form.usertype.value }}";
    
    var serialnumber = "{{ form.serialnumber.value }}";
    var simid = "{{ form.simid.value }}";
    var meter = "{{ form.meter.value }}";
    var metertype = "{{ form.metertype.value }}";
    var dn = "{{ form.dn.value }}";
    var madedate = "{{ form.madedate.value }}";
    var lng = "{{ form.lng.value }}";
    var lat = "{{ form.lat.value }}";
    var focus = "{{ form.focus.value }}";
    var biguser = "{{ form.biguser.value }}";

    

    $("#focusBtn").on('click',function(){
        var nowcss = $(this).attr("class").indexOf("btn btn-default"); 
        if(nowcss != (-1)){
            $(this).removeClass("btn btn-default").attr("class","btn btn-primary")
            $("#focusVal").attr("value","1")
        }else{
            $(this).removeClass("btn btn-primary").attr("class","btn btn-default")
            $("#focusVal").attr("value","0")

        }
        
    })

    $("#biguserBtn").on('click',function(){
        var nowcss = $(this).attr("class").indexOf("btn btn-default"); 
        if(nowcss != (-1)){
            $(this).removeClass("btn btn-default").attr("class","btn btn-primary")
            $("#biguserVal").attr("value","1")
        }else{
            $(this).removeClass("btn btn-primary").attr("class","btn btn-default")
            $("#biguserVal").attr("value","0")

        }
        
    })

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    var img1 = document.getElementById("preview-index1");
    img1.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }
    var img2 = document.getElementById("preview-index2");
    img2.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }
    var img3 = document.getElementById("preview-index3");
    img3.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }
    var img4 = document.getElementById("preview-index4");
    img4.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }
    var img5 = document.getElementById("preview-index5");
    img5.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }


    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close1")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
        modal.style.display = "none";
    }
</script>

<script src="{% static 'virvo/wro/stationEdit.js' %}"></script>
<script src="{% static 'virvo/resources/js/sendAjax.js' %}"></script>

{% endblock %}
