/*
* @ PROJECT F3
* @ AUTNOR ZoomWell Team
* @ LINK WWW.ZWLBS.COM
*/
.waves{position:relative;top:33px;background:rgba(255,255,255,.3);left:31px;width:25px;height:25px;margin-left:-12px;margin-top:-12px;border-radius:50%;-webkit-backface-visibility:hidden}
.waves:before{position:absolute;background:red;margin-left:-12px;margin-top:-12px;width:22px;height:22px;content:"";display:block;border-radius:50%;-webkit-backface-visibility:hidden;animation:wave-animate .5s infinite ease-out}
.waves:after{position:absolute;background:red;margin-left:-12px;margin-top:-12px;width:22px;height:22px;content:"";display:block;border-radius:50%;-webkit-backface-visibility:hidden;opacity:0;animation:wave-animate .5s .2s infinite ease-out}
@keyframes wave-animate{0%{transform:scale(0);opacity:1;transform-origin:center}
100%{transform:scale(3);opacity:0;transform-origin:center}
}
