 
{% extends '_vbase.html' %}


{% load staticfiles %}

{% block main_content %}


<div class="row">
    <div class="col-md-12">
        <div class="col-md-2" style="padding-right: 0px; padding-left: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title fwb">组织架构</h3>
                <div class="actions pull-right listActions">
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
            <div class="panel-body" style="padding: 0px;">
                <div class="form-group" style="margin-top: 15px;">
                <div class="col-md-12">
                    <input id="search_condition" name="search" class="form-control" style="margin-bottom: 10px;" type="text" placeholder="请输入组织名称" />
                    </div>
                </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  panelCarBg" style="padding: 0px;height:80%!important">
                <ul id="treeDemo" class="ztreee" style="overflow:auto;height:638px!important"></ul>
              </div>
            </div>
        </div>
        </div>
        <div class="col-md-10" style="padding-right: 0px;padding-left: 10px;">
        <input id="referVehicleList" type="hidden" />
            <!-- 指令参数 -->
            <div class="col-md-12" style="padding:0px;">
                <div class="panel panel-default">
                    <div class="panel-heading" id="stretch" >
                        <h3 class="panel-title fwb">指令参数设置<span class="caret"></span></h3>
                        <div class="actions pull-right listActions">
                            <i class="fa chevron-up"  id="stretch-chevron" ></i>
                        </div>
                    </div>
                    <div class="panel-body fixed-table-body"  id="stretch-body" style="padding:0px;">
                        <!-- 指令类型 -->
                        <div class="col-md-3 panel-body fixed-table-body" style="padding:15px;">
                            <ul id="commandTreeDemo" class="ztreee" style="height:335px !important;overflow:auto;"></ul>
                        </div>
                        <div class="col-md-9 panel-right-border">
                            <form id="saveCommandForm" role="form" action="/devm/paramsmanager/command/saveCommand" method="post" class="form-horizontal">
                            <!-- 通讯参数 -->
                            <div class="modal-body" id="commParameters">
                                 <div class="form-group">
                                    <label class="col-md-3 control-label">表具编号：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="commSerialnumber" class="form-control" readonly/>
                                    </div>
                                    <!-- <div class="col-md-3">
                                        <div class="input-group">
                                            <input name="brands" type="text" class="form-control" id="commPlate">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-white dropdown-toggle"
                                                    data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->
                                    <label class="col-md-3 control-label">站点名称：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="commObject" class="form-control" readonly/>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        
                                        TCP消息重发次数：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="tcpresendcount" name="tcpresendcount" class="form-control" />
                                    </div>
                                    <label class="col-md-3 control-label">
                                        
                                        TCP消息应答超时时间（s）：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="tcpresponovertime" name="tcpresponovertime" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        
                                        UDP消息重发次数：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="udpresendcount" name="udpresendcount" class="form-control" />
                                    </div>
                                    <label class="col-md-3 control-label">
                                        
                                        UDP消息应答超时时间（s）：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="udpresponovertime" name="udpresponovertime" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">SMS消息重发次数：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="smsresendcount" name="smsresendcount" class="form-control" />
                                    </div>
                                    <label class="col-md-3 control-label">SMS消息应答超时时间（s）：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="smsresponovertime" name="smsresponovertime" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">终端心跳发送间隔（s）：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="heartbeatperiod" name="heartbeatperiod" class="form-control" />
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <!-- 终端参数 -->
                            <div class="modal-body" id="terminalParameters">
                                <div class="form-group">
                                    
                                    <label class="col-md-3 control-label"> 表具编号：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="terminalSerialnumber" class="form-control" readonly/>
                                    </div>
                                    <label class="col-md-3 control-label">站点名称：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="terminalObject" class="form-control" readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">IP地址：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="ipaddr" name="ipaddr" value="5" class="form-control" />
                                    </div>
                                    <label class="col-md-3 control-label">端口号：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="port" name="port" value="10" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">接入点：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="entrypoint" name="entrypoint" value="10" class="form-control" />
                                    </div>
                                    <!-- <label class="col-md-3 control-label">流量零点修正值：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="terminalAnswerUdp" name="flowzerovalue" value="10" class="form-control" />
                                    </div> -->
                                </div>
                                
                                
                            </div>
                            <!-- 采集指令 -->
                            
                            <div class="modal-body" id="aquiryParameters">
                                <div class="form-group">
                                    
                                    <label class="col-md-3 control-label"> 表具编号：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="aquirySerialnumber" class="form-control" readonly/>
                                    </div>
                                    <label class="col-md-3 control-label">站点名称：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="aquiryObject" class="form-control" readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        
                                        上报起始时间：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="updatastarttime" name="updatastarttime" class="form-control" />
                                    </div>
                                    <label class="col-md-3 control-label">上报方式选择：</label>
                                    <div class="col-md-3">
                                        <select id="updatamode" name="updatamode" class="form-control" onchange="realTimeCommand.baseStationReportModeCheckFn()">
                                            <option value="0">间隔上传</option>
                                            <option value="1">定时上传</option>
                                            <option value="2">实时上传</option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-md-3">
                                        <input type="text" id="UpgradeDialName" name="updatamode" placeholder="服务器无线通信拨号用户名" class="form-control" />
                                    </div> -->
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">采集间隔（分钟）：</label>
                                    <div class="col-md-3">
                                        <!-- <input type="text" id="collectperiod" name="collectperiod"  class="form-control" /> -->
                                        <select id="collectperiod" name="collectperiod" class="form-control" onchange="realTimeCommand.baseStationReportModeCheckFn()">
                                            <option value="0">5</option>
                                            <option value="1">10</option>
                                            <option value="2">15</option>
                                            <option value="3">30</option>
                                        </select>
                                    </div>
                                    <label class="col-md-3 control-label">上报间隔（小时）：</label>
                                    <div class="col-md-3">
                                        <!-- <input type="text" id="updataperiod" name="updataperiod"  class="form-control" /> -->
                                        <select id="updataperiod" name="updataperiod" class="form-control" onchange="realTimeCommand.baseStationReportModeCheckFn()">
                                            <option value="0">2</option>
                                            <option value="1">4</option>
                                            <option value="2">6</option>
                                            <option value="3">8</option>
                                            <option value="4">12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">上报时间一：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="updatatime1" name="updatatime1"  class="form-control" />
                                    </div>
                                    <label class="col-md-3 control-label">上报时间二：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="updatatime2" name="updatatime2"  class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">上报时间三：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="updatatime3" name="updatatime3"   class="form-control" />
                                    </div>
                                    <label class="col-md-3 control-label">
                                        
                                        上报时间四：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="updatatime4" name="updatatime4"  class="form-control" />
                                    </div>
                                </div>
                                
                            </div>
                            <!-- 基表设置 -->
                            <div class="modal-body udddd" id="meterbaseParameters">
                                <div class="form-group">
                                    
                                    <label class="col-md-3 control-label">表具编号：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="meterbaseSerialnumber" class="form-control" readonly/>
                                    </div>
                                    <label class="col-md-3 control-label">站点名称：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="meterbaseObject" class="form-control" readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        
                                        仪表口径：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="dn" name="dn" class="form-control" />

                                    </div>
                                    <label class="col-md-3 control-label">
                                        
                                        励磁间隔：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="liciperoid" name="liciperoid" placeholder="输入1-254" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        
                                        仪表维护日期：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="maintaindate" name="maintaindate" class="form-control" />
                                    </div>
                                    <label class="col-md-3 control-label">
                                        
                                        传感器系数：
                                    </label>
                                    <div class="col-md-3 inp-inline-flex">
                                        <input type="text" id="transimeterfactor" name="transimeterfactor" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">标定系数：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="biaofactor" name="biaofactor"  class="form-control" />
                                    </div>
                                    <label class="col-md-3 control-label">厂商标识代码：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="manufacturercode" name="manufacturercode"  class="form-control" />
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">小信号切除：</label>
                                    <div class="col-md-3">
                                        <select id="issmallsignalcutpoint" name="issmallsignalcutpoint" class="form-control" >
                                            <option value="0">切除</option>
                                            <option value="1">不切除</option>
                                        </select>
                                    </div>
                                    <label class="col-md-3 control-label">小信号切除值：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="smallsignalcutpoint" name="smallsignalcutpoint"  class="form-control" />
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">零点修正功能：</label>
                                    <div class="col-md-3">
                                        <select id="isflowzerovalue" name="isflowzerovalue" class="form-control" >
                                            <option value="0">关</option>
                                            <option value="1">开</option>
                                        </select>
                                    </div>
                                    <label class="col-md-3 control-label">零点修正值：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="flowzerovalue" name="flowzerovalue"  class="form-control" />
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">压力测量功能：</label>
                                    <div class="col-md-3">
                                        <select id="pressurepermit" name="pressurepermit" class="form-control" >
                                            <option value="0">关</option>
                                            <option value="1">开</option>
                                        </select>
                                    </div>
                                    <label class="col-md-3 control-label">方向选择：</label>
                                    <div class="col-md-3">
                                        <select id="flowdorient" name="flowdorient" class="form-control" >
                                            <option value="0">正向</option>
                                            <option value="1">反向</option>
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">正向累积预置：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="plusaccumupreset" name="plusaccumupreset"  class="form-control" />
                                    </div>

                                </div>
                            </div>
                            
                            <!-- 基站参数设置 -->
                            <div class="modal-body" id="baseStationParameters">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">监控对象：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="baseStationObject" class="form-control" readonly/>
                                    </div>
                                    <label class="col-md-2 control-label">参考对象：</label>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input name="brands" type="text" class="form-control" id="baseStationPlate">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-white dropdown-toggle"
                                                    data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">上报模式：</label>
                                    <div class="col-md-3">
                                        <select id="baseStationReportMode" name="baseStationReportMode" class="form-control" onchange="realTimeCommand.baseStationReportModeCheckFn()">
                                            <option value="0">按频率上报</option>
                                            <option value="1">按定点上报</option>
                                        </select>
                                    </div>
                                    <label class="col-md-2 control-label">定位模式：</label>
                                    <div class="col-md-3">
                                        <select id="baseStationpositioningMode" name="baseStationpositioningMode" class="form-control">
                                            <option value="00">卫星+LBS定位</option>
                                            <option value="01">LBS定位</option>
                                            <option value="02">卫星定位</option>
                                            <option value="03">WIFI+LBS定位</option>
                                            <option value="04">卫星+WIFI+LBS定位</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">上报起始时间点：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="baseStationStartTimePoint" name="baseStationStartTimePoint" class="form-control"/>
                                    </div>
                                    <label class="col-md-2 control-label">上报间隔(s)：</label>
                                    <div class="col-md-3">
                                        <input type="text" id="baseStationReportInterval" name="baseStationReportInterval" class="form-control"/>
                                    </div>
                                </div>
                                <div id="baseStation-MainContent">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">定点时间：</label>
                                        <div class="col-md-3">
                                            <input type="text" id="baseStationFixedTime" name="baseStationFixedTime" class="form-control"/>
                                        </div>
                                        <div class="col-md-1">
                                            <button id="baseStation-add-btn" type="button" class="btn btn-primary addIcon">
                                                <span class="glyphicon glyphiconPlus" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="col-md-5"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 提交生成 -->
                            <div>
                                <div class="modal-footer report-para-footer-control">
                                    <button type="button" class="btn btn-primary" id="generateListBtn">生成</button>
                                </div>
                            </div>
                            <div>
                                <div class="modal-footer report-para-footer-control-1">
                                    <button type="button" class="btn btn-primary" id="generateDeviceSearch">生成</button>
                                </div>
                            </div>
                            <div>
                                <div class="modal-footer report-para-footer">
                                    <input id="sid" name="sid" type="text" hidden="true" />
                                    <input id="commaddr" name="commaddr" type="text" hidden="true" />
                                    <input id="commandNodes" name="commandNodes" type="text" hidden="true" />
                                    <button type="button" id="readCommand" class="btn btn-primary">读取</button>
                                    <button type="button" id="saveCommand" class="btn btn-primary">修改</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 指令设置列表 -->
        <div class="col-md-10 real-time-command-list" style="padding-right: 0px;padding-left: 10px;">
            <div class="panel panel-default">
                <div class="panel-heading" id="stretch2" >
                    <h3 class="panel-title fwb">指令设置列表  </h3>
                    <div class="actions pull-right listActions">
                        <i class="fa chevron-down"  id="stretch2-chevron" ></i>
                    </div>
                </div>
                <div class="panel-body fixed-table-body"  id="stretch2-body">
                    <div class="ToolPanel">
                        <div class="bars pull-left">
                            <div class="btn-group pull-left barsMargin" role="group">
                                 <form role="form">
                                   <label><input type="text" class="Inlinesearch form-control" id="simpleQueryParam" name="simpleQueryParam" style="width:300px" placeholder="请输入下发指令类型关键字"></label>
                                     <button type="button" id="search_button"
                                             onclick="myTable.requestData()"
                                             class="btn btn-outline btn-default">搜索
                                     </button>
                                   <input id="hiddenText" type="text" style="display:none" />
                                 </form>
                            </div>
                            <div class="dropdown pull-left">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">操作菜单<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:void(0);" id="send_model"><i class="glyphicon glyphicon-circle-arrow-down icoPaddingLeft"></i>批量下发</a></li>
                                    <li><a href="javascript:void(0);" id="del_model"><i class="glyphicon glyphicon-trash icoPaddingLeft"></i>批量删除</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns btn-group pull-right fuelConsumptionS">
                            <button id="refreshTable" class="btn btn-default" type="button" name="refresh" title="刷新">
                                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                            </button>
                            <div class="keep-open btn-group" title="定制显示列">
                                <button id="customizeColumnsTwo" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" id="Ul-menu-text">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                    <table id="dataTable"
                        class="table table-striped table-bordered table-hover checkTable"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th><input type="checkbox" id="checkAll"></th>
                                <!-- <th>操作</th> -->
                                <th>下发状态</th>
                                <th>指令类型</th>
                                <th>表具编号</th>
                                <th>站点名称</th>
                                <th>SIM卡号</th>
                                <th>所属组织</th>
                                <th>最新下发参数时间</th>
                                <th>最新读取参数时间</th>
                                <th>安装日期</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}




{% block javascript %}
<script src="{% static 'virvo/resources/js/zTree/js/ztreeSearch.js' %}"></script>
<script src="{% static 'virvo/wro/paramsmanager.js' %}"></script>
{% endblock %}
