{% load staticfiles %}
<form id="addForm" role="form" action="/devm/simcard/add/" method="post" class="form-horizontal">{% csrf_token %}
    <div class="modal-header">
        <button id="doXAdd" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">新增SIM卡信息</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label"><label
                            class="text-danger">*</label> SIM卡号：</label>
                    <div class="col-md-4">
                        <input name="simcardNumber" placeholder="请输入SIM卡号" type="text" id="simcardNumber"
                               class="form-control "/>
                        <label id="simcardNumber-error" style="display: none" class="error" for="simcardNumber">请输入sim卡号，范围：7~15</label>
                    </div>
                    <label class="col-md-2 control-label"><label
                            class="text-danger">*</label> 所属企业：</label>
                    <div class="has-feedback col-md-4">
                        <input name="belongto" class="form-control" id="zTreeOrganSel"
                               placeholder="请选择所属企业" readonly="readonly"
                               style="background-color: #fafafa; cursor: pointer;" type="text"/>
                        <span class="fa fa-chevron-down form-control-feedback"
                              aria-hidden="true" id="zTreeOrganSelSpan"></span>
                        <div class="ztreeModelBox" id="zTreeContent">
                            <ul id="ztreeDemo" class="ztree"></ul>
                        </div>
                        <input id="groupId" name="groupId" type="text" hidden="true"/>
                        <label id="error_label_add" class="error" style="display: none;"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">启停状态：</label>
                    <div class="col-md-4">
                        <label class="radio-inline"> 
                            <input type="radio" name="isStart" id="isRadio" value="1" checked> 启用
                        </label> 
                        <label class="radio-inline"> 
                            <input type="radio" name="isStart" id="noRadio" value="0"> 停用
                        </label>
                    </div>
                    <label class="col-md-2 control-label"><label
                            class="text-danger"></label> ICCID：</label>
                    <div class="col-md-4">
                        <input name="iccid" placeholder="请输入ICCID号" type="text" id="iccid"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><label
                            class="text-danger"></label> IMEI：</label>
                    <div class="col-md-4">
                        <input name="imei" placeholder="请输入IMEI卡号" type="text" id="imei"
                               class="form-control"/>
                    </div>
                    <label class="col-md-2 control-label"><label
                            class="text-danger"></label> IMSI：</label>
                    <div class="col-md-4">
                        <input name="imsi" placeholder="请输入IMSI号" type="text" id="imsi"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">运营商：</label>
                    <div class="col-md-4">
                        <select name="operator" placeholder="请选择运营商" class="form-control">
                            <option selected="selected" value="中国移动">中国移动</option>
                            <option value="中国联通">中国联通</option>
                            <option value="中国电信">中国电信</option>
                        </select>
                    </div>
                    <label class="col-md-2 control-label">套餐流量(M)：</label>
                    <div class="col-md-4">
                        <input name="simFlow" placeholder="请输入套餐流量" type="text"
                               class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')"/>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-md-2 control-label">当日流量(M)：</label>
                    <div class="col-md-4">
                        <input name="dayRealValue" placeholder="当日流量" type="text"
                               class="form-control" readonly />
                    </div>
                    <label class="col-md-2 control-label">当月流量(M)：</label>
                    <div class="col-md-4">
                        <input name="monthRealValue" placeholder="当月流量" type="text"
                               class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">流量最后更新时间：</label>
                    <div class="col-md-4">
                        <input name="monthTrafficDeadline" placeholder="流量最后更新时间" type="text"
                               class="form-control"  readonly />
                    </div>
                    <label class="col-md-2 control-label">修正系数：</label>
                    <div class="col-md-4">
                        <input name="correctionCoefficient" value="100" placeholder="请输入修正系数" type="text"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">预警系数：</label>
                    <div class="col-md-4">
                        <input id="forewarningCoefficient" value="90" name="forewarningCoefficient" placeholder="请输入预警系数" type="text"
                               class="form-control" />
                    </div>
                    <label class="col-md-2 control-label">月预警流量(M)：</label>
                    <div class="col-md-4">
                        <input name="alertsFlow" placeholder="月预警流量 = 月流量阈值(M) * 预警系数" type="text"
                             id="alertsFlow" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">流量月结日：</label>
                    <div class="col-md-4">
                        <input name="monthlyStatement" readonly  placeholder="默认为每月1号" type="text"
                               class="form-control"/>
                    </div>
                    <label class="col-md-2 control-label">小时流量阈值(M)：</label>
                    <div class="col-md-4">
                        <input name="hourThresholdValue" placeholder="请输入小时流量阈值" type="text"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">日流量阈值(M)：</label>
                    <div class="col-md-4">
                        <input name="dayThresholdValue" placeholder="请输入日流量阈值" type="text"
                               class="form-control"/>
                    </div>
                    <label class="col-md-2 control-label">月流量阈值(M)：</label>
                    <div class="col-md-4">
                        <input id="monthThresholdValue" name="monthThresholdValue"  placeholder="月流量阈值" type="text"
                               class="form-control"/>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-md-2 control-label">激活日期：</label>
                    <div class="col-md-4 has-feedback">
                        <input id="openCardTime" name="openCardTime" placeholder="请输入激活日期"
                               class="form-control layer-date laydate-icon">
                    </div>
                    <label class="col-md-2 control-label">到期时间：</label>
                    <div class="col-md-4">
                        <input id="endTime" name="endTime" placeholder="请输入到期时间"
                               class="form-control layer-date laydate-icon"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">备注：</label>
                    <div class="col-md-4">
                        <input name="remark" type="text" class="form-control" placeholder="请输入备注">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="doSubmit">
            <strong>提 交</strong>
        </button>
        <button id="doCloseAdd" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
    <input  type="hidden" value="98807a30-4e64-4612-87a0-0bf94fa50cd0" name="avoidRepeatSubmitToken" id="avoidRepeatSubmitToken">
</form>
<script src="{% static 'virvo/resources/js/sendAjax.js' %}"></script>
<script>
    var simNumberNull = "\u8BF7\u8F93\u5165SIM\u5361\u53F7\u6570\u5B57\uFF0C\u8303\u56F4\uFF1A7~13";
    var simNumberError = "\u8BF7\u8F93\u5165\u6570\u5B57\uFF0C\u8303\u56F4\uFF1A7~13";
    var simNumberExists = "SIM\u5361\u53F7\u5DF2\u5B58\u5728";
    var simMax200Length = "\u8D85\u8FC7\u4E86\u7CFB\u6570\u8303\u56F4\uFF0C\u8BF7\u8F93\u51651\u5230200\u7684\u6574\u6570";
    var simHourTrafficLength = "\u8F93\u5165\u7684\u6570\u5B57\u5FC5\u987B\u57280~6553\u4E4B\u95F4";
    var simDayTrafficLength = "\u8F93\u5165\u7684\u6570\u5B57\u5FC5\u987B\u57280~429496729\u4E4B\u95F4";
    var simMonthTrafficLength = "\u8F93\u5165\u7684\u6570\u5B57\u5FC5\u987B\u57280~429496729\u4E4B\u95F4";
    var simCompareOpenCardTime = "\u5230\u671F\u65E5\u671F\u5FC5\u987B\u5927\u4E8E\u6FC0\u6D3B\u65E5\u671F";
    var publicSize6="\u957F\u5EA6\u4E0D\u8D85\u8FC76\u4F4D";
    var publicSize20="\u957F\u5EA6\u4E0D\u8D85\u8FC720\u4F4D";
    var publicSize50="\u957F\u5EA6\u4E0D\u8D85\u8FC750\u4F4D";
    var phoneError = "\u770B\u8D77\u6765\u4E0D\u50CF\u624B\u673A\u53F7\u5462";
    var publicNull = "\u4E0D\u80FD\u4E3A\u7A7A";
    var publicNumberFloat = "\u5FC5\u987B\u4E3A\u6570\u5B57";
    var publicNumberInt = "\u5FC5\u987B\u4E3A\u6B63\u6574\u6570";
</script>

<script src="{% static 'virvo/wro/simCardAdd.js' %}"></script>