{% load staticfiles %}
<form id="editForm" role="form" action="{% url 'entm:groupedit' object.cid %}" method="post"
      class="form-horizontal">{% csrf_token %}
    <div class="modal-header">
        <button type="button" id="doXEdit" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">编辑组织</h4>
    </div>
    <div class="modal-body">
        <input type="text" class="hidden" id="cid" name="cid" value="{{ form.cid.value }}"/>
        <input type="text" class="hidden" id="pId" name="pId" value="{{ form.pId.value }}"/>
        <input type="text" class="hidden" id="parent_attribute" name="parent_attribute" value="{{ form.parent_attribute.value }}"/>
        <input type="text" class="hidden" id="parent_organlevel" name="parent_organlevel" value="{{ form.parent_organlevel.value }}"/>
        <input type="text" class="hidden" id="organlevel" name="organlevel" value="{{ form.organlevel.value }}"/>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label"><label class="text-danger">*</label> 组织名称：</label>
                    <div class="col-md-3">
                        <input id="name" onkeydown="if(event.keyCode==32) return false" placeholder="请输入组织名称"
                               type="text" maxlength="50" class="form-control" name="name" value="{{ form.name.value|default:'' }}"/>
                        <label id="name-error" style="display: none" class="error" for="name">不能为空</label>
                    </div>
                    <label class="col-md-3 control-label">组织机构性质：</label>
                    <div class="col-md-3">
                        <input type="hidden" id="attributeVal" name="attribute" value="{{ form.attribute.value|default:'' }}">
                        <select class="form-control" id="attribute" >
                          <option value="非自来水公司">非自来水公司</option>
                          <option value="自来水公司">自来水公司</option>
                          
                        </select>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-md-3 control-label"> 组织机构代码：</label>
                    <div class="col-md-7">
                        <input placeholder="请输入9位组织机构代码或18位统一社会信用代码" type="text"
                               maxlength="18" class="form-control" id="organizationCode" name="organizationCode" value=""/>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-md-3 control-label"> 负责人：</label>
                    <div class="col-md-3">
                        <input placeholder="请输入负责人" type="text" maxlength="50"
                               class="form-control" id="principal" name="owner_name" value="{{ form.owner_name.value|default:'' }}"/>
                    </div>
                    <label class="col-md-3 control-label">注册日期：</label>
                    <div class="col-md-3">
                        <input id="registerDateEdit" style="cursor: pointer; background-color: #fafafa;"
                               class="form-control layer-date laydate-icon"
                               placeholder="请选择注册日期" name="register_date" value="{{ form.register_date.value|default:'' }}"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3 control-label"> 电话号码：</label>
                    <div class="col-md-3">
                        <input placeholder="请输入电话号码" type="text" maxlength="11"
                               class="form-control" id="phone" name="phone_number" value="{{ form.phone_number.value|default:'' }}"/>
                    </div>
                    <label class="col-md-3 control-label"> 地址：</label>
                    <div class="col-md-3">
                        <input maxlength="50" placeholder="请输入地址" type="text"
                               class="form-control" id="address" name="firm_address" value="{{ form.firm_address.value|default:'' }}"/>
                    </div>
                </div>
                

                <!-- <div class="form-group">
                    <label class="col-md-3 control-label">描述：</label>
                    <div class="col-md-7">
                        <textarea maxlength="50" placeholder="请输入描述" type="text"
                                  class="form-control" id="description" name="description"></textarea>
                    </div>
                </div> -->

                <div class="form-group ">


                        <div class="form-group-1">
                            <label class="col-md-3 control-label"><label class="text-danger">*</label>坐标体系：</label>
                            <div class="col-md-3">
                                <input type="hidden" id="coorTypeVal" name="coorType" value="{{ form.coorType.value|default:'WGS84' }}">
                                <select id="coorType" class="form-control"  placeholder="请选择坐标体系">
                                    <option value="WGS84">地球坐标</option>
                                    <option value="GCJ-02">火星坐标</option>
                                    <option value="BD-09">百度坐标</option>
                                    <option value="IAG75">西安坐标</option>
                                    <option value="CGCS2000">大地坐标</option>
                                </select>
                            </div>
                            <label class="col-md-3 control-label"><label class="text-danger">*</label> 地图中心点经度：</label>
                            <div class="col-md-3">
                                <input name="longitude" value="{{ form.longitude.value|default:'' }}" type="text" maxlength="50" class="form-control" id="longitude">
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">


                        <label class="col-md-3 control-label"> 放大倍率：</label>
                        <div class="col-md-3">
                            <input id="zoomIn" name="zoomIn" value="{{ form.zoomIn.value|default:'' }}" type="text" maxlength="13" class="form-control">
                        </div>
                        <label class="col-md-3 control-label"><label class="text-danger">*</label> 地图中心点纬度：</label>
                        <div class="col-md-3">
                            <input name="latitude" value="{{ form.latitude.value|default:'' }}" type="text" maxlength="50" class="form-control" id="latitude">
                        </div>


                    </div>
                <div id="target">
                    <div class="form-group ">

                        
                        <label class="col-md-3 control-label"><input id="islocation" name="islocation" state="{{ form.islocation.value }}" type="checkbox"> 地名：</label>
                        <div class="col-md-3">
                            <input id="location" name="location" value="{{ form.location.value|default:'' }}" type="text" maxlength="13" class="form-control">
                        </div>
                        <label class="col-md-3 control-label"><label class="text-danger">*</label>省：</label>
                        <input type="hidden" id="provinceVal" name="province" value="{{ form.province.value|default:'' }}">
                        <div class="col-md-3">
                            <select id="province"  data-province="{{ form.province.value|default:'请选择省'}}" class="form-control"  placeholder="请选择省">
                            </select>
                        </div>


                    </div>


                    <div class="form-group ">

                        <label class="col-md-3 control-label">市：</label>
                        <div class="col-md-3">
                            <input type="hidden" id="cityVal" name="city" value="{{ form.city.value|default:'' }}">
                            <select id="city"  data-city="{{ form.city.value|default:'请选择市'}}" class="form-control"  placeholder="请选择市">
                            </select>
                        </div>
                        <label class="col-md-3 control-label">区：</label>
                        <div class="col-md-3">
                            <input type="hidden" id="districtVal" name="district" value="{{ form.district.value|default:'' }}">
                            <select id="district" data-district="{{ form.district.value|default:'请选择区'}}" class="form-control"  placeholder="请选择区">
                            </select>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">

        <input type="hidden" id="adcode" name="adcode" value="{{ form.adcode.value|default:'' }}">
        <input type="hidden" id="districtlevel" name="districtlevel" value="{{ form.districtlevel.value|default:'' }}">
        
        <button id="doSubmitEdit" class="btn btn-primary" type="button">
            <strong>提 交</strong>
        </button>
        <button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
</form>
<script src="{% static 'virvo/resources/js/distpicker.data.js' %}"></script>
<script src="{% static 'virvo/resources/js/sendAjax.js' %}"></script>
<script type="text/javascript">
    
(function (factory) {
  if (typeof define === 'function' && define.amd) {
    // AMD. Register as anonymous module.
    define(['jquery', 'ChineseDistricts'], factory);
  } else if (typeof exports === 'object') {
    // Node / CommonJS
    factory(require('jquery'), require('ChineseDistricts'));
  } else {
    // Browser globals.
    factory(jQuery, ChineseDistricts);
  }
})(function ($, ChineseDistricts) {

  'use strict';

  if (typeof ChineseDistricts === 'undefined') {
    throw new Error('The file "distpicker.data.js" must be included first!');
  }

  var NAMESPACE = 'distpicker';
  var EVENT_CHANGE = 'change.' + NAMESPACE;
  var PROVINCE = 'province';
  var CIRY = 'city';
  var DISTRICT = 'district';

  function Distpicker(element, options) {
    this.$element = $(element);
    this.options = $.extend({}, Distpicker.DEFAULTS, $.isPlainObject(options) && options);
    this.placeholders = $.extend({}, Distpicker.DEFAULTS);
    this.active = false;
    this.init();
  }

  Distpicker.prototype = {
    constructor: Distpicker,

    init: function () {
      var options = this.options;
      var $select = this.$element.find('select');
      var length = $select.length;
      var data = {};

      $select.each(function () {
        $.extend(data, $(this).data());
      });

      $.each([PROVINCE, CIRY, DISTRICT], $.proxy(function (i, type) {
        if (data[type]) {
          options[type] = data[type];
          this['$' + type] = $select.filter('[data-' + type + ']');
        } else {
          this['$' + type] = length > i ? $select.eq(i) : null;
        }
      }, this));

      this.bind();

      // Reset all the selects (after event binding)
      this.reset();

      this.active = true;
    },

    bind: function () {
      if (this.$province) {
        this.$province.on(EVENT_CHANGE, (this._changeProvince = $.proxy(function () {
          this.output(CIRY);
          this.output(DISTRICT);
        }, this)));
      }

      if (this.$city) {
        this.$city.on(EVENT_CHANGE, (this._changeCity = $.proxy(function () {
          this.output(DISTRICT);
        }, this)));
      }
    },

    unbind: function () {
      if (this.$province) {
        this.$province.off(EVENT_CHANGE, this._changeProvince);
      }

      if (this.$city) {
        this.$city.off(EVENT_CHANGE, this._changeCity);
      }
    },

    output: function (type) {
      var options = this.options;
      var placeholders = this.placeholders;
      var $select = this['$' + type];
      var districts = {};
      var data = [];
      var code;
      var matched;
      var value;

      if (!$select || !$select.length) {
        return;
      }

      value = options[type];

      code = (
        type === PROVINCE ? 86 :
        type === CIRY ? this.$province && this.$province.find(':selected').data('code') :
        type === DISTRICT ? this.$city && this.$city.find(':selected').data('code') : code
      );

      districts = $.isNumeric(code) ? ChineseDistricts[code] : null;

      if ($.isPlainObject(districts)) {
        $.each(districts, function (code, address) {
          var selected = address === value;

          if (selected) {
            matched = true;
          }

          data.push({
            code: code,
            address: address,
            selected: selected
          });
        });
      }

      if (!matched) {
        if (data.length && (options.autoSelect || options.autoselect)) {
          data[0].selected = true;
        }

        // Save the unmatched value as a placeholder at the first output
        if (!this.active && value) {
          placeholders[type] = value;
        }
      }

      // Add placeholder option
      if (options.placeholder) {
        data.unshift({
          code: '',
          address: placeholders[type],
          selected: false
        });
      }

      $select.html(this.getList(data));
    },

    getList: function (data) {
      var list = [];

      $.each(data, function (i, n) {
        list.push(
          '<option' +
          ' value="' + (n.address && n.code ? n.address : '') + '"' +
          ' data-code="' + (n.code || '') + '"' +
          (n.selected ? ' selected' : '') +
          '>' +
            (n.address || '') +
          '</option>'
        );
      });

      return list.join('');
    },

    reset: function (deep) {
      if (!deep) {
        this.output(PROVINCE);
        this.output(CIRY);
        this.output(DISTRICT);
      } else if (this.$province) {
        this.$province.find(':first').prop('selected', true).trigger(EVENT_CHANGE);
      }
    },

    destroy: function () {
      this.unbind();
      this.$element.removeData(NAMESPACE);
    }
  };

  Distpicker.DEFAULTS = {
    autoSelect: false,
    placeholder: true,
    province: '—— 省 ——',
    city: '—— 市 ——',
    district: '—— 区 ——'
  };

  Distpicker.setDefaults = function (options) {
    $.extend(Distpicker.DEFAULTS, options);
  };

  // Save the other distpicker
  Distpicker.other = $.fn.distpicker;

  // Register as jQuery plugin
  $.fn.distpicker = function (option) {
    var args = [].slice.call(arguments, 1);

    return this.each(function () {
      var $this = $(this);
      var data = $this.data(NAMESPACE);
      var options;
      var fn;

      if (!data) {
        if (/destroy/.test(option)) {
          return;
        }

        options = $.extend({}, $this.data(), $.isPlainObject(option) && option);
        $this.data(NAMESPACE, (data = new Distpicker(this, options)));
      }

      if (typeof option === 'string' && $.isFunction(fn = data[option])) {
        fn.apply(data, args);
      }
    });
  };

  $.fn.distpicker.Constructor = Distpicker;
  $.fn.distpicker.setDefaults = Distpicker.setDefaults;

  // No conflict
  $.fn.distpicker.noConflict = function () {
    $.fn.distpicker = Distpicker.other;
    return this;
  };

  $(function () {
    $('[data-toggle="distpicker"]').distpicker();
  });
});

</script>
<script>
    $(function () {

        var coorType_old = $("#coorTypeVal").val();
        $("#coorType option").each(function (){
            if($(this).val()==coorType_old){ 
            $(this).attr("selected","selected"); 
        }});

        var attribute_old = $("#attributeVal").val();
        $("#attribute option").each(function (){
            if($(this).val()==attribute_old){ 
            $(this).attr("selected","selected"); 
        }});

        // var province_val = $("#province").attr("data-province")
        // $("#province option").each(function (){
        //         if($(this).val()==province_val){ 
        //         $(this).attr("selected","selected"); 
        //     }});

        // var city_val = $("#city").attr("data-city")
        // $("#city option").each(function (){
        //         if($(this).val()==city_val){ 
        //         $(this).attr("selected","selected"); 
        //     }});

        // var district_val = $("#district").attr("data-district")
        // $("#district option").each(function (){
        //         if($(this).val()==district_val){ 
        //         $(this).attr("selected","selected"); 
        //     }});

        // console.log(province_val,city_val,district_val)

        var islocation_old = $("#islocation").attr("state");
        console.log("islocation_old",islocation_old)
        if(islocation_old == "on"){
            $("#islocation").prop("checked", true);

            // $("#descrip").prop("readonly",true);
            
            $("#coorType").prop("disabled","disabled")
            $("#longitude").prop("readonly",true)
            $("#latitude").prop("readonly",true)
            $("#zoomIn").prop("readonly",true)

            $("#location").prop("readonly",false)
            $("#province").prop("readonly",false)
            $("#city").prop("readonly",false)
            $("#district").prop("readonly",false)
        }else{
            $("#islocation").prop("checked", false);

            $("#coorType").prop("readonly",false)
            $("#longitude").prop("readonly",false)
            $("#latitude").prop("readonly",false)
            $("#zoomIn").prop("readonly",false)

            $("#location").prop("readonly",true)
            $("#province").prop("disabled",true)
            $("#city").prop("disabled",true)
            $("#district").prop("disabled",true)
        }

        $("#islocation").bind("click", function(e){
            
            // $("input[name='islocation']").not(':disabled').prop("checked", e.checked);
            if($('#islocation').is(":checked") == true){
                $("#coorType").prop("disabled","disabled")
                $("#longitude").prop("readonly",true)
                $("#latitude").prop("readonly",true)
                $("#zoomIn").prop("readonly",true)

                $("#location").prop("readonly",false)
                $("#province").prop("disabled",false)
                $("#city").prop("disabled",false)
                $("#district").prop("disabled",false)

            }else{
                $("#coorType").prop("disabled",false)
                $("#longitude").prop("readonly",false)
                $("#latitude").prop("readonly",false)
                $("#zoomIn").prop("readonly",false)

                $("#location").prop("readonly",true)
                $("#province").attr("disabled","disabled")
                $("#city").attr("disabled","disabled")
                $("#district").attr("disabled","disabled")

            }
        });

        var parent_attribute = $("#parent_attribute").val();
          console.log("parent_attribute",parent_attribute);
          if(parent_attribute == "自来水公司"){
            console.log("parent_attribute",parent_attribute);
            $("#attribute").attr("value",parent_attribute);
            $("#attribute").prop("disabled","disabled");
            $("#attributeVal").attr("value",parent_attribute);

            $("#attribute option").each(function (){
              if($(this).val()==parent_attribute){ 
              $(this).attr("selected","selected"); 
            }});

            var parent_organlevel = $("#parent_organlevel").val();
            $("#organlevel").attr("value",parseInt(parent_organlevel)+1);

          }


    $('#target').distpicker({
        province: '--请选择省份--',
        city: '--请选择市--',
        district: '--请选择区/县--'
    });

    function administrativeAreaSelect(obj) {
        console.log(obj)

        var provin = $("#province").val();
        if (provin == "province") {
            $("#provinceError").css("display", "none");
        }
        else if (provin == "--请选择--") {
            $("#provinceError").css("display", "block");
        }
        
        var option = obj[obj.options.selectedIndex];
        var keyword = option.text; //关键字
        var adcode = option.dataset.code;
        if(obj.id == 'province'){
            $("#provinceVal").attr("value",keyword)
            $("#districtlevel").attr("value","province")
        } else if(obj.id == 'city'){
            $("#cityVal").attr("value",keyword)
            $("#districtlevel").attr("value","city")

        }else if(obj.id == 'district'){
            $("#districtVal").attr("value",keyword)
            $("#districtlevel").attr("value","district")

        }
        $("#adcode").attr("value",adcode)
        console.log(keyword,adcode,option.value)
        // district.setLevel(option.value); //行政区级别
        // district.setExtensions('all');
        // //行政区查询
        // //按照adcode进行查询可以保证数据返回的唯一性
        // district.search(adcode, function (status, result) {
        //     if (status === 'complete') {
        //         fenceOperation.getData(result.districtList[0]);
        //     }
        // });
    }

    $('#province, #city, #district').on('change', function () {
        administrativeAreaSelect(this)
    });

    $('#coorType').on('change',function(){
        
        var option = this[this.options.selectedIndex];
        console.log(option)
        $("#coorTypeVal").attr("value",option.value)
    })

    $('#attribute').on('change',function(){
        
        var option = this[this.options.selectedIndex];
        console.log(option)
        $("#attributeVal").attr("value",option.value)
    })



            //提交方法
            function doSubmit() {
                if (validates()) {
                    if($("#name").val()==''||$("#name").val()==null){
                        $("#name-error").show();
                        return false;
                    }
                    submissionFlag = true;
                    $("#editForm").ajaxSubmit(function (data) {
                        var result = JSON.parse(data);
                        if (result.success) {
                            /* 关闭弹窗 */
                            $("#commonWin").modal("hide");
                        } else {
                            layer.msg(result.msg);
                        }

                    });
                }
            }

            //表单验证
            function validates() {
                return $("#editForm").validate({
                    rules: {
                        name: {
                            required: true,
                            maxlength: 25
                        },
                        // organizationCode: {
                        //     doubles: true,
                        //     maxlength: 20,
                        //     remote: {
                        //         type: "post",
                        //         async: false,
                        //         url: "/clbs/c/group/uniquenessOrganizationCode",
                        //         data: {
                        //             organizationCode: function () {
                        //                 if (organizationCodes == $("#organizationCode").val()) {
                        //                     return null;
                        //                 } else {
                        //                     return $("#organizationCode").val();
                        //                 }
                        //             }
                        //         },
                        //     }
                        // },
                        register_date: {
                            selectRegDate: true,
                        },
                        owner_name: {
                            isCN: true,
                            // required : true,
                            maxlength: 20
                        },
                        phone_number: {
                            // required : true,
                            isTel: true
                        },
                        firm_address: {
                            // required : true,
                            maxlength: 50
                        },
//        description:{
//          maxlength : 255
//        }
                    },
                    messages: {
                        name: {
                            required: "\u4E0D\u80FD\u4E3A\u7A7A",
                            maxlength: "\u957F\u5EA6\u4E0D\u8D85\u8FC725\u4F4D"
                        },
                        // organizationCode: {
                        //     doubles: "\u8BF7\u8F93\u5165\u6B63\u786E\u7684\u7EC4\u7EC7\u7ED3\u6784\u4EE3\u7801(9\u4F4D\u6570\u5B57)\u6216\u800518\u4F4D\u7684\u7EDF\u4E00\u793E\u4F1A\u4FE1\u7528\u4EE3\u7801(\u6570\u5B57\u548C\u5927\u5199\u5B57\u6BCD\u7684\u7EC4\u5408)",
                        //     maxlength: "\u957F\u5EA6\u4E0D\u8D85\u8FC718\u4F4D",
                        //     remote: "\u7EC4\u7EC7\u673A\u6784\u4EE3\u7801\u5DF2\u88AB\u4F7F\u7528\uFF0C\u8BF7\u91CD\u65B0\u8F93\u5165"
                        // },
                        register_date: {
                            selectRegDate: "\u6CE8\u518C\u65E5\u671F\u5FC5\u987B\u5C0F\u4E8E/\u7B49\u4E8E\u4ECA\u5929"
                        },
                        owner_name: {
                            isCN: "\u8BF7\u8F93\u5165\u4E2D\u6587\u540D/\u82F1\u6587\u540D.\u4E0D\u8981\u4E71\u641E\u5466",
                            maxlength: "\u957F\u5EA6\u4E0D\u8D85\u8FC720\u4F4D"
                        },
                        phone_number: {
                            // required : "不能为空！",
                            isTel: "\u770B\u8D77\u6765\u4E0D\u50CF\u624B\u673A\u53F7\u5462"
                        },
                        firm_address: {
                            maxlength: "\u957F\u5EA6\u4E0D\u8D85\u8FC750\u4F4D"
                        }
                    }
                }).form();
            }

            // var options = $('#operation option:selected').text();//页面加载时select控件默认选中的option的文本

            // if (options == null || options == undefined || options == "") {
            //     $('#operation option:selected').text("请选择运营资质类别");
            // }
            // var organizationCodes = $("#organizationCode").val();//页面加载时organizationCode

            // var licenses = $("#license").val();

            laydate.render({elem: '#registerDateEdit', theme: '#6dcff6', trigger: 'click'});

            // $.ajax({
            //     url: '/entm/group/findOperations',
            //     type: 'POST',
            //     data: null,
            //     async: false,
            //     dataType: 'json',
            //     success: function (data) {
            //         if (data.success == true) {
            //             var operations = [];
            //             if (data.obj.operation != null || data.obj.operation.length > 0) {
            //                 var calldata = data.obj.operation;
            //                 var selector = $("#operation");
            //                 for (var i = 0; i < calldata.length; i++) {
            //                     if (calldata[i].operationType != options) {
            //                         selector.append('<option  value="' + calldata[i].operationType + '">' + calldata[i].operationType + '</option>');
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // });

            //运营资质类别(mysql)和组织(ldap)是两个数据库,如果添加组织时使用的运营资质类别被删除，那么修改组织时，该运营资质类别还会出现在页面上，这不合理。
            //所以在页面加载后,获取option的默认选中的值，然后去数据库(mysql)查,如果没有,则将其添加组织时使用的后被删除的运营资质类别移除
            // $.ajax({
            //     url: '/clbs/c/group/findOperationByoperation',
            //     type: 'POST',
            //     data: {"type": options},
            //     async: true,
            //     dataType: 'json',
            //     success: function (datas) {
            //         if (datas.success == true) {//说明数据库没有这条数据了
            //             if (datas.obj == null) {
            //                 $("#operation option[value=" + options + "]").remove();
            //                 $("#operation").val("");
            //             }
            //         } else {
            //             if (datas.obj != null) {
            //                 $("#operation").val(datas.obj.operation.operationType);
            //             }
            //         }
            //     }
            // });

            /*
            var rules = {
                name:{
                    required : true,
                    maxlength : 25
                },
                organizationCode:{
                    doubles:true,
                    maxlength:20,
                    remote: {
                        type:"post",
                        async:false,
                        url:"/clbs/c/group/uniquenessOrganizationCode" ,
                        data:{
                            organizationCode:function(){
                                if(organizationCodes==$("#organizationCode").val()){
                                    return null;
                                }else{
                                    return $("#organizationCode").val();
                                }
                            }
                         },
                      }
                },
                registerDate:{
                    selectRegDate:true,
                },
                principal:{
                    isCN:true,
                   // required : true,
                    maxlength : 20
                },
                phone:{
                   // required : true,
                    isTel : true
                },
                address:{
                   // required : true,
                    maxlength : 50
                },
        //        description:{
        //          maxlength : 255
        //        }
            };
            var messages = {
                name:{
                    required : "\u4E0D\u80FD\u4E3A\u7A7A",
                    maxlength : "\u957F\u5EA6\u4E0D\u8D85\u8FC725\u4F4D"
                },
                organizationCode:{
                    doubles:"\u8BF7\u8F93\u5165\u6B63\u786E\u7684\u7EC4\u7EC7\u7ED3\u6784\u4EE3\u7801(9\u4F4D\u6570\u5B57)\u6216\u800518\u4F4D\u7684\u7EDF\u4E00\u793E\u4F1A\u4FE1\u7528\u4EE3\u7801(\u6570\u5B57\u548C\u5927\u5199\u5B57\u6BCD\u7684\u7EC4\u5408)",
                    maxlength : "\u957F\u5EA6\u4E0D\u8D85\u8FC718\u4F4D",
                    remote : "\u7EC4\u7EC7\u673A\u6784\u4EE3\u7801\u5DF2\u88AB\u4F7F\u7528\uFF0C\u8BF7\u91CD\u65B0\u8F93\u5165"
                },
                registerDate:{
                    selectRegDate : "\u6CE8\u518C\u65E5\u671F\u5FC5\u987B\u5C0F\u4E8E/\u7B49\u4E8E\u4ECA\u5929"
                },
                principal:{
                    isCN:"\u8BF7\u8F93\u5165\u4E2D\u6587\u540D/\u82F1\u6587\u540D.\u4E0D\u8981\u4E71\u641E\u5466",
                    maxlength :  "\u957F\u5EA6\u4E0D\u8D85\u8FC720\u4F4D"
                },
                phone:{
                    // required : "不能为空！",
                    isTel : "\u770B\u8D77\u6765\u4E0D\u50CF\u624B\u673A\u53F7\u5462"
                },
                address:{
                    maxlength : "\u957F\u5EA6\u4E0D\u8D85\u8FC750\u4F4D"
                }
            }
            myTable.add('commonWin', 'editForm', rules, messages);*/

            $("#doSubmitEdit").on("click", doSubmit);

            $('input').inputClear();
        }
    );
</script>