
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'virvo/resources/js/bootstrap/css/bootstrap-table.min.css' %}" >
<link rel="stylesheet" href="{% static 'virvo/resources/js/fullcalendar/css/common.css' %}"/>

<style type="text/css">

.col-md-2{
top:20px;
width: 270px;
height: 152px
float:left;
padding-left: 0px;
padding-right: 0px;
margin-left:26.7px;
border: 1px solid #C4C4C4;
}

.col-md-4-table {
width: 310px;
height: 510px;

}



.exTab2{
 width:1120px;
  height: 510px;}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
        
        #showInfo table tr:nth-child(odd){

            background: #F1F1F1;

        }
        #showInfo table tr:nth-child(even){

            background: #fffffF;


        }
#userdaily ,#usermonthly ,#userflowrt,#instanceflowrt{
  height: 420px;
  display: block;
  /* width:90%; */
  margin-left: -15px;
}


        #showInfo table tr{
            height: 30px;
            text-align: center;
            color: #0a0a0c;
            font-size: 12;
        }

        .col-md-3{
            width: 24%;
        }
        .col-md-5{
            width: 42.555%;
        }

        #showInfo table {
          table-layout: fixed;
          width: 100%;
          border-collapse: collapse;
          text-align: center;
          /*border: 3px solid purple;*/
            border:1px solid #CDCDCD;

        }

       #showInfo th, td {
          padding: 5px;
          height: 18x;
        }


#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;

}
        
    </style>
{% endblock %}

  <div class="modal-header">
      <input id="objId" name="objId" value="{{ object.commaddr }}" class="form-control" type="hidden"/>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      
      <div class="modal-title container">
          <div class="row">
            <div class="col-md-4" style="font-weight:bold;">
                用户代码:<span id="userid"></span>
            </div>
            <div class="col-md-4" style="font-weight:bold;">
                站点名称:<span id="username">{{ object.username }}</span>
            </div>
            <div class="col-md-4" style="font-weight:bold;">
                抄表日期:<span id="fluxreadtime"></span>
            </div>
          </div>
      </div>
  </div>
  <div id="showInfo" style="height: 750px;position: relative;padding: 20px;" >
      
    <div class="row" >
      <div class="col-md-4-table">
        <table border="1"  >
          
          <tbody>
            <tr>
              <td colspan="2" >详细信息</td>
              
            </tr>
            <tr>
              <td style="text-align: left;padding-left: 10px">采集间隔</td>
              <td id="pickperiod"></td>
            </tr>
            <tr>
              <td style="text-align: left;padding-left: 10px" >上报间隔</td>
              <td id="reportperiod"></td>
            </tr>
            <tr>
              <td style="text-align: left;padding-left: 10px">口径</td>
              <td id="dn"></td>
            </tr>
            <tr>
              <td style="text-align: left;padding-left: 10px">表类型</td>
              <td id="metertype"></td>
            </tr>
                <tr>
              <td style="text-align: left;padding-left: 10px">表类编号</td>
              <td ></td>
            </tr>
                <tr>
              <td style="text-align: left;padding-left: 10px">远传模块SIM卡号</td>
              <td ></td>
            </tr>
                <tr>
              <td style="text-align: left;padding-left: 10px">远传协议方式</td>
              <td ></td>
            </tr>
            <tr>
              <td style="text-align: left;padding-left: 10px">昨日用水量(m³)</td>
              <td id="yestoday_use"></td>
            </tr>
            <tr>
              <td style="text-align: left;padding-left: 10px">本月用水量(m³)</td>
              <td id="month_use"></td>
            </tr>
            <tr>
              <td style="text-align: left;padding-left: 10px">本年用水量(m³)</td>
              <td id="year_use"></td>
            </tr>
              
              

            
          </tbody>
        </table>
        <div style="border: 1px solid #bdc3c7;height: 180px;" id="map"></div>
        
      </div>

        <!-- charts -->
      <div class="col-md-8" style="border:1px solid #C4C4C4;height: 510px;width:1120px;left:25px;padding:0px;">

        <div id="exTab2" class="container" style="padding:0px;">
          <ul class="nav nav-tabs">
            <li class="active">
              <a  href="#instance-content" data-toggle="tab" style=" border-left-width: 0px;border-top-width: 0px;">瞬时流量</a>
            </li>
            <li id="hour-tab">
              <a  href="#hour-content" data-toggle="tab">时用水</a>
            </li>
            <li id="day-tab">
              <a href="#day-content" data-toggle="tab">日用水</a>
            </li>
            <li id="mon-tab">
              <a href="#mon-content" data-toggle="tab">月用水</a>
            </li>
            <li id="alarm-tab">
              <a href="#alarm-content" data-toggle="tab">报警信息</a>
            </li>
          </ul>
          
          <div class="tab-content ">
            <!-- 瞬时用水 -->
            <div class="tab-pane active" id="instance-content">
              <div >
                <div  style="padding-top: 10px;">
                  <div class="row">

                    <!-- <div class="col-md-2">
                          <select  id="select000"></select>
                    </div>
                    <div class="col-md-2">
                      <select  id="select001" ></select>
                    </div>
                    <div class="col-md-2">
                      <select  id="select002" ></select>
                    </div> -->
                    <div style="float: left;padding-left:30px" >
                    <button id="instance1"  class="btn btn-outline btn-default" style="background-color:#F2F2F2;color:#0099FF;border:1px solid #CCCCCC;float: left;width:68px;height:37px">今天</button>
                    <button id="instance_1" class="btn btn-outline btn-default"  style="background-color:#F2F2F2;color:#0099FF;border:1px solid #CCCCCC;float: left;width:68px;height:37px" >昨天</button>
                    <button id="instance7" class="btn btn-outline btn-default"  style="background-color:#F2F2F2;color:#0099FF;border:1px solid #CCCCCC;float: left;width:68px;height:37px" >近7天</button>
                    <button id="instance15" class="btn btn-outline btn-default"  style="background-color:#F2F2F2;color:#0099FF;border:1px solid #CCCCCC;float: left;width:68px;height:37px" >近15天</button>
                    </div>
                    <div class="col-md-6 col-sm-8 searchListSelect" style="width:33%">


                      <input style="cursor: pointer; background-color: #fafafa;"
                          class="form-control layer-date laydate-icon"
                          id="timeInterval2" name="timeInterval2" readonly />
                      <label id="timeInterval-error" class="error" for="timeInterval2" style="display: none;float: left">开始时间请不要超过上个月一号</label>
                  </div>
                    <div class="col-md-1">
                      <button id="inquirefluxflow" type="button" class="btn btn-primary search-btn" name="1" >查询</button>
                    </div>
                    <!-- <div class="col-md-1">
                      <button id="inquireflow-data" type="button" class="btn btn-primary search-btn" name="2" >数据</button>
                    </div> -->
                  </div>
                </div>
                <div class="col-md-12"  id='instanceflow-show-data'  style="display: none;">
                  <table id="instancerawdata-table" border="1" >

                    <thead>

                      <tr>
                        <th  data-field="seqno" >序号</th>
                        <th  data-field="readtime"  >采样时间</th>
                        <th  data-field="flux" >瞬时流量m³</th>
                      </tr>



                    </thead>
                  </table>
                </div>
                
                <!-- <div class="col-md-12" id="flaw-show-echart" style="display: block;"> -->
                    <div id="instanceflowrt" style="height: 400px;width: 100%;border-top:#C4C4C4 1px dashed;top:10px;left: 20px;"></div>
                <!-- </div> -->
                
              </div>
            </div>

            <!-- 时用水 -->
            <div class="tab-pane " id="hour-content">
              <div >
                <div  style="padding-top: 20px;">
                  <div class="row">
                      
                    <div class="col-md-2">
                          <select  id="select00"></select> 
                    </div>
                    <div class="col-md-2">
                      <select  id="select01" ></select> 
                    </div>
                    <div class="col-md-2">
                      <select  id="select02" ></select> 
                    </div>
                    <div class="col-md-1">
                      <button id="inquireflow" type="button" class="btn btn-primary search-btn" name="1" >查询</button>
                    </div>
                    <!-- <div class="col-md-1">
                      <button id="inquireflow-data" type="button" class="btn btn-primary search-btn" name="2" >数据</button>
                    </div> -->
                  </div>
                </div>
                <div class="col-md-12"  id='flow-show-data'  style="display: none;">
                  <table id="rawdata-table" border="1" >
              
                    <thead>
                      
                      <tr>
                        <th  data-field="seqno" >序号</th>
                        <th  data-field="readtime"  >采样时间</th>
                        <th  data-field="plustotalflux" >正向流量m³</th>
                        <th  data-field="reversetotalflux" >反向流量m³</th>
                      </tr>
                      
          
                      
                    </thead>
                  </table>
                </div>
                
                <!-- <div class="col-md-12" id="flaw-show-echart" style="display: block;"> -->
                    <div id="userflowrt" ></div>
                <!-- </div> -->
                
              </div>
            </div>

            <div class="tab-pane" id="day-content">
              <!-- daily -->
              <div style="padding-top: 20px;">
                <div class="row">
                    
                  <div class="col-md-2">
                    <select  id="select1"></select> 
                  </div>
                  <div class="col-md-2">
                    <select  id="select2" ></select> 
                  </div>
                    
                  <div class="col-md-1">
                      <button id="inquireDaily" type="button" class="btn btn-primary search-btn" name="3" >查询</button>
                  </div>
                  <!-- <div class="col-md-1">
                    <button id="inquireDaily-data" type="button" class="btn btn-primary search-btn" name="4" >数据</button>
                  </div> -->
                </div>
                <div class="col-md-12"  id='daily-show-data' style="display: none;">
                  <table id="dailyrawdata-table"  >
            
                    <thead>
                    
                      <tr>
                        <th data-field="seqno" >序号</th>
                        <th data-field="readtime"  >采样时间</th>
                        <th data-field="plustotalflux" >正向流量m³</th>
                        <th data-field="reversetotalflux" >反向流量m³</th>
                      </tr>
                    
      
                    
                    </thead>
                  </table>
                </div>
                
                <!-- <div class="col-md-12" id="daily-show-echart"  > -->
                  <div id="userdaily" ></div>
                <!-- </div> -->
              </div>

            </div>
            <div class="tab-pane" id="mon-content">
              <div style="padding-top: 20px;">
                <div class="row">
                  
                  <div class="col-md-2">
                    <select  id="select3" ></select> 
                  </div>
                  
                  <div class="col-md-1">
                    <button id="inquireMonthly" type="button" class="btn btn-primary search-btn" name="5" >查询</button>
                  </div>
                  <!-- <div class="col-md-1">
                    <button id="inquireMonthly-data" type="button" class="btn btn-primary search-btn" name="6" >数据</button>
                  </div> -->
                </div>
              </div>
  
              <div class="col-md-12"  id='month-show-data' style="display: none;">
                <table id="monthrawdata-table"  >
          
                  <thead>
                  
                    <tr>
                      <th data-field="seqno" >序号</th>
                      <th data-field="readtime"  >采样时间</th>
                      <th data-field="plustotalflux" >正向流量m³</th>
                      <th data-field="reversetotalflux" >反向流量m³</th>
                    </tr>
                  
    
                  
                  </thead>
                </table>
              </div>
  
              <div class="col-md-12">
                <div id="usermonthly" ></div>
              </div>
              
            </div>
            <!-- 报警信息 -->
            <div class="tab-pane" id="alarm-content">
              <div style="padding-top: 20px;">
                <div class="row">
                  
                  <div class="col-md-2">
                    <select  id="select4" ></select> 
                  </div>
                  
                  <div class="col-md-1">
                    <button id="inquireAlarm" type="button" class="btn btn-primary search-btn" name="5" >查询</button>
                  </div>
                  <!-- <div class="col-md-1">
                    <button id="inquireMonthly-data" type="button" class="btn btn-primary search-btn" name="6" >数据</button>
                  </div> -->
                </div>
              </div>
  
              <div class="col-md-12"  id='alarm-show-data' >
                <table id="alarm-table"  >
          
                  <thead>
                  
                    <tr>
                      <th data-field="seqno" >序号</th>
                      <th data-field="alarmtime"  >报警时间</th>
                      <th data-field="alarmcontent" >报警内容</th>
                      <!-- <th data-field="reversetotalflux" >反向流量m³</th> -->
                    </tr>
                  
    
                  
                  </thead>
                </table>
              </div>
  
              
              
            </div>
            <!-- alarm panal end -->

          </div>
        </div>
      </div>

        
       <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;border-top:#C4C4C4 1px dashed;top:20px">

                <div class="col-md-2" style="margin-left: 0px;" >
                    <div id="localImag-index1" >
                        <img id="preview-index1" class="img-click" src="/static/virvo/images/u-null.png" alt="现场图1" style="display: block;width: 270px;height: 152px;">
                    </div>


                </div>
                <div class="col-md-2" >
                    <div id="localImag-index2" >
                        <img id="preview-index2" class="img-click" src="/static/virvo/images/u-null.png" alt="现场图2" style="display: block;width: 270px;height: 152px;">
                    </div>

                </div>
                <div class="col-md-2">
                    <div id="localImag-index3" >
                        <img id="preview-index3" class="img-click" src="/static/virvo/images/u-null.png" alt="现场图3" style="display: block;width: 270px;height: 152px">
                    </div>

                </div>
                <div class="col-md-2" >
                    <div id="localImag-index4" >
                        <img id="preview-index4" class="img-click" src="/static/virvo/images/u-null.png" alt="现场图4" style="display: block;width:270px;height: 152px">
                    </div>


                </div>
                <div class="col-md-2" >
                    <div id="localImag-index5" >
                        <img id="preview-index5" class="img-click" src="/static/virvo/images/u-null.png" alt="现场图5" style="display: block;width: 270px;height: 152px">
                    </div>

                </div>
            </div>


    </div>
  </div>
              
              
              
              


<script type="text/javascript">
  
</script>            
<script src="{% static 'virvo/resources/js/bootstrap/js/bootstrap-table.min.js' %}"></script>

<!-- <script src="{% static 'virvo/wro/bd-echatrs.js' %}" charset="utf-8"></script> -->
<script src="{% static 'virvo/wro/echarts.min.js' %}" ></script>
<!-- <script type="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.7.0/echarts.js"></script> -->
<script src="{% static 'virvo/wro/realtimedata-showinfo.js' %}"></script>
