{% extends '_vbase.html' %}


{% load staticfiles %}

{% block breadcrumb %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static '/ol/v3.20.1-dist/ol.css' %}"/>

<style type="text/css">
  div.dataTables_wrapper{overflow:hidden;user-select:text!important;-ms-user-select:text!important;-moz-user-select:text!important;-webkit-user-select:text!important}
  
  /* .table th {
    font-size: 12px;
  }; */
  .table tbody td,.table thead tr th text-center sorting{
    font-size: 12px;
  };
  
</style>
{% endblock %}

{% block main_content %}

        <div class="row">
          <div class="col-md-12">

            <div id="content-left" class="col-md-2" style="padding-right: 0px; padding-left: 0px; ">
                        <div id="operationMenu" class="panel panel-default panDefMenu">
                            <div class="panel-heading" style="padding:10px;background-color:#ffffff;color:#767676;">
                                <!-- <h3 class="panel-title fwb">轨迹回放</h3> -->
                                <div  >
                                    <div style="font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';font-weight: 700;font-style: normal;font-size: 16px;color: inherit;margin: 10px 10px 0 20px;">全部站点({{ total_station_num }})
                                    </div>
                                </div>
                                <div id="goHidden" class="actions2 pull-right"
                                  style="top:-35px!important;left:5px!important">
                                  <i class="fa fa-chevron-left"></i>
                                </div>
                            </div>
                            <div class="panel-body fixed-table-body  form-horizontal" style="padding-top:10px;">
                                <div id="station_status" class="form-group">
                                    <div class="col-md-12 " id="disable" style="text-align: left;">
                                        <div style="background:#fff;text-align: left;">
                                            <div class="form-group">
                                              <label class="col-md-6 control-label " style="margin-top:10px;color: #1627e0;text-align: left;">在线({{ online_station_num }})</label>
                                              <label class="col-md-6 control-label" style="margin-top:10px;color: grey;text-align: left;">离线({{ offline_station_num }})</label>
                                            </div>
                                            <div class="form-group">
                                              <label class="col-md-6 control-label" style="margin-top:10px;color: #f20804;text-align: left;">报警站点({{ alarm_station_num }})</label>
                                              <label class="col-md-6 control-label" style="margin-top:10px;color: #02470e;text-align: left;">关注站点({{ focus_station_num }})</label>
                                            </div>
                                            <div class="form-group">
                                              <label class="col-md-6 control-label" style="margin-top:10px;margin-bottom:20px;color: #8c4380;text-align: left;">大用户站点({{ biguser_station_num }})</label>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                          <h3 class="panel-title fwb">站点架构</h3>
                                          <div class="actions  listActions">
                                            <i class="fa fa-chevron-down"></i>
                                          </div>
                                        </div>
                                        <div class="panel-body" style="padding: 0px;">
                                          <div class="form-group" style="margin-top: 15px;">
                                            <div class="col-md-12">
                                              <input id="search_condition" name="search" class="form-control" style="margin-bottom: 10px;" type="text" placeholder="请输入站点名称" />
                                            </div>
                                          </div>
                                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  panelCarBg" >
                                            <ul id="treeDemo" class="ztreee" style="overflow:auto;height:460px!important;min-height:500px"></ul>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <div class="col-md-12">
                                        <input id="search_condition" name="search" class="form-control" style="margin-bottom: 10px;" type="text" placeholder="请输入组织名称" />
                                    </div>
                                    <input id="savePid" value="" type="text" style="display:none;"/>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <ul id="treeDemo" class="ztree ztreeLoadH" style="overflow: auto"></ul>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
            
                    <div id="goShow" style="top:14px;display: none;">
                      <i id="goHidden" class="fa fa-chevron-right"></i>
                  </div>


            <div class="col-md-2" style="padding-right: 0px; padding-left:0px;"></div>
            <div id="content-right" class="col-md-10 real-time-command-list" style="padding-right: 0px; padding-left:10px;padding-bottom: 0px;">
              <div class="panel panel-default">
                <!-- <div class="panel-heading" id="stretch2" >
                  <h3 class="panel-title fwb">实时数据列表</h3>
                  <div class="actions pull-right listActions">
                    <i class="fa chevron-down"  id="stretch2-chevron" ></i>
                  </div>
                </div> -->
                <div class="panel-body fixed-table-body"  id="stretch2-body">
                  <input value="" id="permission" type="hidden" />
                  <input value="{{ user.id }}" id="currentUserId" type="hidden" />
                  <div class="ToolPanel">
                    <div class="bars pull-left" id="barsPuLeft">
                      <div class="btn-group pull-left barsMargin" role="group">
                        <form role="form" id="operationForm"> {% csrf_token %}
                          <label id="formLabDi"> <input type="text"
                            class="Inlinesearch form-control" id="simpleQueryParam"
                            name="simpleQueryParam" placeholder=" 请输入站点名称/仪表编号/SIM卡号">
                          </label>
                          <button type="button" id="search_button"
                                                            onclick="myTable.requestData()"
                                                            class="btn btn-outline btn-default">搜索</button>
                          <input id="hiddenText" type="text" style="display: none" />
                        </form>
                      </div>
                      
                    </div>
                    <div class="pull-left">
                      <button type="button" 
                        class="btn btn-outline "><a href="/monitor/realtimedata/export" class="dumb" id="exportId"><i class="glyphicon glyphicon-log-out icoPaddingLeft"></i>导出</a></button>
                    </div>
                    <div class="columns btn-group pull-right refShowRight">
                      <button id="refreshTable" class="btn btn-default"
                        type="button" name="refresh" title="刷新">
                        <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                      </button>
                      <div class="keep-open btn-group" title="定制显示列">
                        <button id="customizeColumns" type="button"
                          class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">
                          <i class="glyphicon glyphicon-th icon-th"></i> <span
                            class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="Ul-menu-text">
                        </ul>
                      </div>
                    </div>
                  </div>
                  <table id="dataTable"
                    class="table table-striped table-bordered table-hover checkTable"
                    cellspacing="0" width="100%">
                    <thead>
                      <tr>
                            <th >序号</th>
                            <th >用户代码</th>
                            <th >站点名称</th>
                            <th >所属组织</th>
                            <th >表具编号</th>
                            <th >厂家</th>
                            <th >表计类型</th>
                            <th >口径<br>mm</th>
                            <th >状态</th>
                            <th >最新采样时间</th>
                            <!-- <th >采样间隔min</th> -->
                            <!-- <th >上报间隔h</th> -->
                            <th >瞬时流量<br>m³/h</th>
                            <th >正向流量<br>m³</th>
                            <th >压力<br>Mpa </th>
                            <th >日用水量 </th>
                            <th >月用水量 </th>
                            <th >时段用水量 </th>
                            <th >反向流量<br>m³</th>
                            <th >基表电量<br>%</th>
                            <th >远传电量<br>%</th>
                            <!-- <th >信号强度%</th> -->
                            <th >报警信息</th>
                          
                      </tr>
                  </thead>
                  </table>
                </div>
              </div>
            </div>

<!-- 报警信息 -->
  <div class="modal fade" id="showalarm" tabindex="-1" aria-hidden="true"  position="absolute" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog form-horizontal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <h4 class="modal-title">报警信息</h4>
                      <!-- <input class="hidden" id="vid9" name="vid" value="">
                      <input class="hidden" name="orderType" value="9"> -->
        </div>
        <div class="modal-body">
          数据维护中
        </div>
        
      </div>
    </div>
  </div>

            <!-- 新增用水性质 -->
            
            
            <!-- 修改用水性质 -->
            
                        
 
            
          </div>  
          
        </div>


{% endblock %}




{% block javascript %}
<script type="text/javascript" src="{% static '/ol/v3.20.1-dist/ol-debug.js' %}"></script>
<script>
  var userGroupDeleteConfirm = "\u60A8\u786E\u5B9A\u8981\u5220\u9664\u8BE5\u7EC4\u7EC7\u5417";
  var systemError = "\u5BF9\u4E0D\u8D77\uFF0C\u7CFB\u7EDF\u8D70\u4E22\u4E86\uFF0C\u8BF7\u8054\u7CFB\u7BA1\u7406\u5458";
  var userNodeNameNull = "\u8282\u70B9\u540D\u79F0\u4E0D\u80FD\u4E3A\u7A7A";
  var userSupermanagerDeleteTip = "\u4E0D\u80FD\u5220\u9664\u8D85\u7EA7\u7BA1\u7406\u5458";
  var userDeleteChooseNull = "\u8BF7\u81F3\u5C11\u52FE\u9009\u4E00\u9879";
  var selectItem = "\u4E0D\u80FD\u56E0\u4E3A\u4F60\u957F\u7684\u597D\u770B\uFF0C\u5C31\u53EF\u4EE5\u4EC0\u4E48\u90FD\u4E0D\u9009\u5427\uFF0C\u600E\u4E48\u4E5F\u8981\u9009\u4E00\u4E2A\u5427:)";
  var publicAddSuccess="\u6DFB\u52A0\u6210\u529F";
  var publicDelete="\u5220\u6389\u5C31\u6CA1\u5566\uFF0C\u8BF7\u8C28\u614E\u4E0B\u624B";
  var publicError="\u7CFB\u7EDF\u7684\u60C5\u7EEA\u4E0D\u7A33\u5B9A\uFF0C\u5E76\u5411\u4F60\u6254\u4E86\u4E00\u4E2A\u9519\u8BEF~";
  var publicDeleteSuccess="\u5220\u9664\u6210\u529F";
  var publicPerverseData="\u8BF7\u8F93\u5165\u5408\u6CD5\u7684\u5185\u5BB9";
  var publicSize20="\u957F\u5EA6\u4E0D\u8D85\u8FC720\u4F4D";
  var publicSize30="\u957F\u5EA6\u4E0D\u8D85\u8FC730\u4F4D";
  var publicMinSize2Length="\u957F\u5EA6\u4E0D\u80FD\u5C0F\u4E8E2\u4F4D";
  var userQualificationNull="用水性质不能为空";
  var userQualificationExists="该用水性质已经存在，请勿重复添加";
</script>
<script src="{% static 'virvo/resources/js/zTree/js/ztreeSearch.js' %}"></script>
<script src="{% static 'virvo/wro/realtimedata.js' %}"></script>
{% endblock %}
