*{
    margin: 0 auto;
}
.verify{
    width: 240px;
    height: 30px;
    margin-top: 30px;
}
.verify span{
    width: 38px;
    height: 30px;
    font-family: ﻿MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #302f41;

}
#verify_box{
    width: 250px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: #fdfffb;
    position: relative;
    background-color: rgb(221, 221, 221);

}
#verify_xbox{
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    background: #e1e5e5;
}
#btn{


    width: 40px;
    height: 33px;
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(212, 212, 212, 1);
    float: right;
    text-align: center;



}

#ded1{
    margin-top:30%;
    max-width: 100%;
}


#ded2 {
    margin-top:16%;
    max-width: 100%;
}