 
{% extends '_vbase.html' %}


{% load staticfiles %}

{% block stylesheet %}
<style type="text/css">
    
    table tr:nth-child(odd){

            background: #F1F1F1;

        }
        table tr:nth-child(even){

            background: #fffffF;


        }



        table tr{
            height: 40px;
            text-align: center;
            color: #0a0a0c;
        }

    table {
          table-layout: fixed;
          width: 100%;
          border-collapse: collapse;
          text-align: center;
          /*border: 3px solid purple;*/
            border:1px solid #CDCDCD;

        }

        th, td {
          padding: 0px;
          height: 20px;
        }
</style>
{% endblock %}

{% block main_content %}


<div class="row">
          <div class="col-md-12">
            <div class="col-md-2" style="padding-right: 0px; padding-left: 0px;">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title fwb">小区列表</h3>
                  <div class="actions pull-right listActions">
                    <i class="fa fa-chevron-down"></i>
                  </div>
                </div>
                <div class="panel-body" style="padding: 0px;">
                  <div class="form-group" style="margin-top: 15px;">
                    <div class="col-md-12">
                      <input id="search_condition" name="search" class="form-control" style="margin-bottom: 10px;" type="text" placeholder="请输入组织名称" />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  panelCarBg" style="padding: 0px;height:80%!important">
                    <ul id="commubitytreeDemo" class="ztreee" style="overflow:auto;height:500px!important"></ul>
                  </div>
                </div>
              </div>
            </div>
            
            

            <div class="col-md-2" style="padding-right: 0px; padding-left:0px;"></div>
            <div class="col-md-10" style="padding-right: 0px; padding-left: 10px;">
                <div class="panel panel-default">
                    <div class="panel-heading" style="cursor:pointer;" id="stretch" >
                        <h3 class="panel-title fwb">查询条件</h3>
                        <!-- <div class="actions pull-right listActions">
                            <i class="fa chevron-up"  id="stretch-chevron" ></i>
                        </div> -->
                    </div>
                    <div class="panel-body fixed-table-body"   id="stretch-body">
                        <!--工具面板-->
                        <div class="col-md-12 alarmSearchToolPanel" style="padding: 0px;">
                            <form id="hourslist" class="form-horizontal" action="#"  method="post" role="form" >{% csrf_token %}
                                <div class="form-group" >
                                    <label class="col-md-1  control-label searchListSelect" style="margin-left: 0px;"><span style="margin-left: -10px;">小区名称：</span></label>
                                    <div class="col-md-3">
                                      <input id="station_name" class="form-control" value="{{ station }}" readonly="" type="text">
                                      <input id="commaddr" class="form-control" value="{{ commaddr }}" readonly="" type="hidden">
                                    </div>
                                    <label class="col-md-1 col-sm-3 control-label searchListSelect">时间：</label>
                                    <div class="col-md-2 col-sm-3 searchListSelect">
                                        <select class="form-control valid" id="select2" aria-invalid="false">
                                        </select> 
                                    </div> 
                                    <label class="col-md-1 col-sm-3 control-label searchListSelect" style="margin-left: -30px;">至</label>
                                    <div class="col-md-2 col-sm-3 searchListSelect">
                                        <select class="form-control valid" id="select3" aria-invalid="false">
                                        </select>
                                    </div>
                                    <div class="col-md-1 control-label " id="dateSearchData">
                                        
                                        <!-- <button id="yesterdayClick" type="button"class="btn btn-primary" name="-2" onclick="communityMonth.requeryComunityData(0)">本月  </button>
                                        <button id="nearlyThreeDays" type="button"class="btn btn-primary" name="-3" onclick="communityMonth.requeryComunityData(-1)">上月  </button> -->
                                        
                                        <button id="inquireClickBtn" type="button" class="btn btn-primary search-btn" name="1" ><i class="glyphicon glyphicon-search"></i>  查询</button>
                                        
                                        
                                        
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-10 " style="padding-right: 0px; padding-left:10px;">
              <div class="panel panel-default">
                <div class="panel-heading" id="stretch2" >
                  <h3 class="panel-title fwb">图形分析</h3>
                  <div class="actions pull-right listActions">
                    <i class="fa chevron-down"  id="stretch-chevron" ></i>
                  </div>
                </div>
                <div class="panel-body fixed-table-body"  id="stretch-body">
                  
                  <div class="col-md-6" id="montable">
                      <!-- <table id="dataTableBind" border="1">
                          
                          <tbody>
                            
                            <tr>
                              <td style="font-weight: bold">日期</td>
                              <td style="font-weight: bold">用水量</td>
                            </tr>
                            <tr>
                              <td>1月</td>
                              <td id="d01"></td>
                            </tr>
                            <tr>
                              <td>2月</td>
                              <td id="d02"></td>
                            </tr>
                            <tr>
                              <td>3月</td>
                              <td id="d03"></td>
                            </tr>
                            <tr>
                              <td>4月</td>
                              <td id="d04"></td>
                            </tr>
                            <tr>
                              <td>5月</td>
                              <td id="d05"></td>
                            </tr>
                            <tr>
                              <td>6月</td>
                              <td id="d06"></td>
                            </tr>
                            <tr>
                              <td>7月</td>
                              <td id="d07"></td>
                            </tr>
                            <tr>
                              <td>8月</td>
                              <td id="d08"></td>
                            </tr>
                            <tr>
                              <td>9月</td>
                              <td id="d09"></td>
                            </tr>
                            <tr>
                              <td>10月</td>
                              <td id="d10"></td>
                            </tr>
                            <tr>
                              <td>11月</td>
                              <td id="d10"></td>
                            </tr>
                            <tr>
                              <td>12月</td>
                              <td id="d12"></td>
                            </tr>
                          </tbody>
                        </table> -->
                  </div>
                  <div class="col-md-6">
                    <div id="comunity_monthly_chart" style="height:400px;width:100%;"></div>
                  </div>

                  <!-- stastic -->
                  <!-- <div style="background: rgba(22, 155, 213, 1);margin-top: 600px;height: 60px;color: white;">
                      <div style="margin-top: 5px;">
                      <label id="today_use" class="col-md-3 control-label" style="margin-top: 5px;">当天用水量:<span>-</span></label>
                      <label id="yestoday_use" class="col-md-3 control-label" style="margin-top: 5px;">昨日用水量:<span>- </span></label>
                      <label id="before_yestoday_use" class="col-md-3 control-label" style="margin-top: 5px;">前日用水量：<span>-</span></label>
                      
                      <label id="max_flow" class="col-md-3 control-label" style="margin-top: 5px;">最大值: <span>-</span></label>
                      <label id="min_flow" class="col-md-3 control-label" style="margin-top: 5px;">最小值: <span>-</span></label>
                      <label id="average" class="col-md-3 control-label" style="margin-top: 5px;">平均值:<span>-</span></label>
                    </div>
                      
                  </div> -->

                  
              </div>
              </div>
            </div>

            

            
                        
 
            
          </div>  
          
        </div>




{% endblock %}



{% block javascript %}
<script src="{% static 'virvo/resources/js/zTree/js/ztreeSearch.js' %}"></script>
<script type="text/javascript" src="{% static 'virvo/wro/bd-echatrs.js' %}"></script>
<script src="{% static 'virvo/wro/neighborhoodusemonth.js' %}"></script>
{% endblock %}